/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
∂q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* Author: Anastas */

html
{
}

body
{
    /*background-color: #efefef;*/
    background-color: white;
    font-family: 'Open Sans', verdana, arial, sans-serif;
}

header
{
    height: 100px;
    background: url('http://uofreddit.com/img/headerbg.png');
}

.button-add {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f9ff), color-stop(1, #e0f0ff) );
    background:-moz-linear-gradient( center top, #f0f9ff 5%, #e0f0ff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f9ff', endColorstr='#e0f0ff');
    background-color:#f0f9ff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #8c8c8c;
    display:inline-block;
    color:#616161;
    font-size:0.8em;
    margin-right: 0.8em;
    font-weight:normal;
    padding:2px 6px;
    text-decoration:none;
}.button-add:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0f0ff), color-stop(1, #f0f9ff) );
    background:-moz-linear-gradient( center top, #e0f0ff 5%, #f0f9ff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f0ff', endColorstr='#f0f9ff');
    background-color:#e0f0ff;
}.button-add:active {
    position:relative;
    top:1px;
}

.button-added {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e2ffc7), color-stop(1, #c7ff99) );
    background:-moz-linear-gradient( center top, #e2ffc7 5%, #c7ff99 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2ffc7', endColorstr='#c7ff99');
    background-color:#e2ffc7;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #36d117;
    display:inline-block;
    color:#428010;
    font-size:0.8em;
    margin-right: 0.8em;
    font-weight:normal;
    padding:2px 6px;
    text-decoration:none;

    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5ffed), color-stop(1, #eaffd9) );
    background:-moz-linear-gradient( center top, #f5ffed 5%, #eaffd9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5ffed', endColorstr='#eaffd9');
    background-color:#f5ffed;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #b3d4ae;
    display:inline-block;
    color:#696969;
    font-weight:normal;
    padding:2px 6px;
    text-decoration:none;
}/*.button-added:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c7ff99), color-stop(1, #e2ffc7) );
    background:-moz-linear-gradient( center top, #c7ff99 5%, #e2ffc7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7ff99', endColorstr='#e2ffc7');
    background-color:#c7ff99;
}.button-added:active {
    position:relative;
    top:1px;
}*/
.button-added:hover {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8c7f), color-stop(1, #fa4d4d) );
    background:-moz-linear-gradient( center top, #ff8c7f 5%, #fa4d4d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c7f', endColorstr='#fa4d4d');
    background-color:#ff8c7f;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #d83526;
    display:inline-block;
    color:#000000;
    font-weight:normal;
    padding:2px 6px;
    text-decoration:none;

    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffd1cc), color-stop(1, #ffb2b2) );
    background:-moz-linear-gradient( center top, #ffd1cc 5%, #ffb2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1cc', endColorstr='#ffb2b2');
    background-color:#ffd1cc;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #999999;
    display:inline-block;
    color:#000000;
    font-weight:normal;
    padding:2px 6px;
    text-decoration:none;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa4d4d), color-stop(1, #ff8c7f) );
    background:-moz-linear-gradient( center top, #fa4d4d 5%, #ff8c7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa4d4d', endColorstr='#ff8c7f');
    background-color:#fa4d4d;
}.button-added:active {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8c7f), color-stop(1, #fa4d4d) );
    background:-moz-linear-gradient( center top, #ff8c7f 5%, #fa4d4d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c7f', endColorstr='#fa4d4d');
    background-color:#ff8c7f;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #d83526;
    display:inline-block;
    color:#000000;
    font-weight:normal;
    padding:2px 6px;
    text-decoration:none;

    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffd1cc), color-stop(1, #ffb2b2) );
    background:-moz-linear-gradient( center top, #ffd1cc 5%, #ffb2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1cc', endColorstr='#ffb2b2');
    background-color:#ffd1cc;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #999999;
    display:inline-block;
    color:#000000;
    font-weight:normal;
    padding:2px 6px;
    text-decoration:none;

    position:relative;
    top:1px;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    padding:3px 20px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.button:active {
    position:relative;
    top:1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

#help
{
    width: 100%;
}

#help .content
{
    padding: 0 10px 10px 10px;
}

#teach
{
    width: 70%;
    float: left;
}

#teach .content
{
    padding: 10px;
}

#teach .content textarea
{
    width: 400px;
    height: 8em;
}

#teach .content input
{
    width: 400px;
}

#teach-side
{
    width: 30%;
    float: right;
}

#teach-side .content
{
    border-left: 3px solid #242424;
    border-bottom: 3px solid #242424;
    padding: 10px;
    background-color: #ededed;
}

#settings, #reddit-link
{
    width: 100%;
}

#settings .content
{
    padding: 10px;
}

.infobox
{
    background-color: #FDED93;
    border: 1px solid #FFAE00;
    padding: 10px;
}

img#logo
{
    width: 233px;
    height: 72px;
    margin: 14px;
    padding: 0;
    float: left;
}

nav
{
    float: right;
    padding: 5px;
    text-align: right;
    font-size: 0.8em;
}

img#messages
{
    width: 15px;
    height: 10px;
}

#socialbar
{
    height: 100px;
    background: url('http://uofreddit.com/img/socialbarbg.png');
    width: 100%;
    text-align: center;
}

#socialbar ul
{
    list-style-type: none;
    color: #d4d4d4;
    padding: 0;
    margin: 0 auto;
    height: 100px;
}

#socialbar ul li
{
    display: block;
    width: 23%;
    height: 100px;
    margin: 0 1%;
    padding: 0;
    float: left;
    position: relative;
}

#socialbar ul li .socialbar-item
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px 0;
    height: 88px;
    background-color: #232323;
    border-radius: 8px;
    font-size: 10px;
    border-style: inset;
    border-width: 1px;
    border-color: #444;
    text-align: left;
}

#socialbar ul li .socialbar-item .content
{
    margin: 10px;
    height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#socialbar ul li .socialbar-item .content a, #socialbar ul li .socialbar-item .content a:link, #socialbar ul li .socialbar-item .content a:visited, #socialbar ul li .socialbar-item .content a:hover, #socialbar ul li .socialbar-item .content a:active
{
    color: #D4D4D4;
}

#socialbar ul li .socialbar-item .content a:link.nounderline, #socialbar ul li .socialbar-item .content a:visited.nounderline, #socialbar ul li .socialbar-item .content a:hover.nounderline, #socialbar ul li .socialbar-item .content a:active.nounderline
{
    text-decoration: none;
}

#twitter
{
    width: 37px;
    height: 28px;
    margin: 30px 10px;
    float: left;
    vertical-align: top;
}

#wordpress
{
    width: 53px;
    height: 53px;
    margin: 12px 10px;
    float: left;
    vertical-align: top;
}

#reddit
{
    border: 0;
    width: 42px;
    height: 57px;
    float: left;
    margin: 10px;
}

#github
{
    border: 0;
    width: 70px;
    height: 30px;
    float: left;
    margin: 30px 10px;
}

nav a, nav a:link, nav a:visited, nav a:hover, nav a:active
{
    color: black;
    text-decoration: none;
}

nav a.active
{
    font-weight: bold;
}

#main
{
    min-width: 768px;
    float: none;
    width: 100%;
    font-size: 0.8em;
}

#user-header
{
    width: 100%;
    clear: both;
    border-bottom: 1px solid #242424;
    background-color: #ededed;
}

#user-header .content
{
    padding: 10px;
}

#user-header .content .username
{
    font-weight: bold;
    font-size: 2.0em;
}

#user, #my-statistics
{
    width: 30%;
    float: right;
    background-color: #ededed;
}

#my-statistics
{
    border-bottom: 3px solid #232323;
}

#user .content
{
    border-left: 3px solid #232323;
    padding: 0 10px 5px 10px;
    font-size: 0.9em;
}

#my-statistics .content
{
    padding: 5px;
    border-left: 3px solid #232323;
}

#outbox .content
{
    padding: 5px;
}

#outbox .content .message .content
{
    border-left: 0;
}

#user .content ul
{
    list-style-type: none;
    padding: 5px;
}

#user .content ul li
{
    padding: 0 0 1.3em 0;
    border-bottom: 1px dashed #c3c3c3;
    margin: 0;
}

#user .content ul li:last-child
{
    border: 0;
}

#user-schedule, #my-classes
{
    width: 70%;
    float: left;
}

#inbox
{

}

.message
{
    width: 100%;
}

.message .content
{
    padding: 10px 10px 10px 0;
    margin: 10px 10px;
    border-bottom: 1px dashed #c3c3c3;
}

.message .content:last-child
{
    border-bottom: 0;
}

.message .content .subject
{
    font-weight: bold;
}

.message .content .body
{
    padding: 0 10px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
}

.message .content .signature
{
    width: 100%;
    text-align: right;
}

#my-classes
{
}

#user-schedule .content, #my-classes .content
{
    padding: 5px;
}

#inbox .content
{
    padding: 5px;
}

#user-schedule .content h2, #user .content h2, #my-classes .content h2, #my-statistics .content h2
{
    margin-top: 0;
    padding-top: 15px;
}

#user-schedule .content .category
{
    font-weight: bold;
}

#user-schedule .content .category .content
{
    font-size: 1.2em;
    border: 0;
}

#user-schedule .content .category .content .class .content
{
    font-size: 0.833em;
    font-weight: normal;
    border: 0;
}

#class-page, #login, #register
{
    width: 70%;
    height: 100%;
    float: left;
}

#class-page .content, #login .content, #register .content
{
    padding: 10px;
    height: 100%;
}

h1
{
    margin: 0 0 0.5em 0;
}

#class-page-roster, #whyregister
{
    width: 30%;
    height: 100%;
    float: right;
    background-color: #ededed;
}

#class-page-roster .content, #whyregister .content
{
    border-left: 3px solid #232323;
    padding: 10px;
    height: 100%;

}

#catalog-category-list
{
    font-size: 1.2em;
    width: 30%;
    height: 100%;
    float: left;
}

#catalog-category-list .content
{
    padding: 10px 0 0 0;
    height: 100%;
    width: 100%;
    position: relative;
}

#catalog-category-list .content .category .content
{
    padding: 5px 0 5px 5px;
    border: 0;
}

a.link-class-desc, a:link.link-class-desc, a:visited.link-class-desc, a:hover.link-class-desc, a:active.link-class-desc
{
    color: black;
    text-decoration: underline;
}

#catalog-category-list .content a:link, #catalog-category-list .content a:visited, #catalog-category-list .content a:hover, #catalog-category-list .content a:active
{
    color: #232323;
    text-decoration: none;
}

#catalog-category-list .active
{
    background-color: #232323;
    color: #d4d4d4;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#catalog-category-list .active a:link, #catalog-category-list .active a:visited, #catalog-category-list .active a:hover, #catalog-category-list .active a:active
{
    background-color: #232323;
    color: #d4d4d4;
    text-decoration: none;
}

#catalog-class-list
{
    width: 70%;
    margin: 0;
    padding: 0;
    float: right;
    background-color: white;
}

#catalog-class-list .content
{
    padding: 10px 5px 0 0;
    border-left: 3px solid #232323;
    height: 100%;
}

#catalog-class-list .content .category
{
    font-size: 1.2em;
    font-weight: bold;
}

#catalog-class-list .content .category .content
{
    padding: 0 0 0 10px;
    border: 0;
}

#catalog-class-list .content .category .content .class
{
    font-size: 0.833em;
    font-weight: normal;
    padding: 5px 0 15px 0;
    background-color: #ffffff;
    border-bottom: 1px dashed #c3c3c3;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
}

#user-schedule .content .category .content .class
{
    font-weight: normal;
    padding: 5px 0 15px 0;
    border-bottom: 1px dashed #c3c3c3;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
}

#user-schedule .content .category .content .class:last-child
{
    border: 0;
}

#catalog-class-list .content .category .content .class:last-child
{
    border: 0;
}

#catalog-class-list .content .category .content .class .content, #class-page .content .class .content, #user-schedule .content .category .content .class .content, #my-classes .content .category .content .class .content
{
    position: relative;
    padding: 0;
}

#catalog-class-list .content .category .content .class .content .voting, #class-page .content .class .content .voting, #user-schedule .content .category .content .class .content .voting, #my-classes .content .category .content .class .content .voting
{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    color: #c3c3c3
}

img.upvote, img.upvoted, img.downvote, img.downvoted
{
    margin: 2px 2px 0 0;
    float: right;
    width: 0.9em;
    height: 1.3em;
    cursor: pointer;
    width: 11px;
    height: 15px;
}

img.upvote, img.upvoted
{
    position: relative;
    top: -1px;
}

#catalog-class-list .content .category .content .class .content .class-name, #class-page .content .class .content .class-name, #class-page-roster .content .class-name, #my-classes .content .category .content .class .content .class-name, #user-schedule .content .category .content .class .content .class-name
{
    margin-right: 5em;
    font-weight: normal;
}

#catalog-class-list .content .category .content .class .content .class-name.expanded, #class-page .content .class .content .class-name.expanded, #class-page-roster .content .class-name.expanded, #my-classes .content .category .content .class .content .class-name.expanded, #user-schedule .content .category .content .class .content .class-name.expanded
{
    font-weight: 700;
    color: black;
}

#catalog-class-list .content .category .content .class .content .class-desc, #my-classes .content .category .content .class .content .class-desc
{
    font-size: 0.9em;
}

#class-page .content .class .content .class-name
{
    margin-top: 10px;
}

#class-page .content .class .content .class-desc
{
    border: 0;
    padding-bottom: 10px;
}

#class-page .content .class .content .class-desc
{
    font-size: 0.9em;
    border-bottom: 1px dashed #c3c3c3;
}

#class-page .content .class .content .class-desc-nounderline
{
    font-size: 0.9em;
    margin-bottom: 40px;
}

#my-classes .content .category
{
    font-weight: bold;
    font-size: 1.2em;
}

#my-classes .content .category .content .class
{
    font-weight: normal;
    font-size: 0.833em;
    padding: 5px 0 15px 15px;
    border-bottom: 1px dashed #c3c3c3;
    margin-bottom: 10px;
}

#my-classes .content .category .content .class:last-child
{
    border-bottom: 0;
}

#catalog-class-list .content .category .content .class .content .class-info, #class-page .content .class .content .class-info, #user-schedule .content .category .content .class .content .class-info, #my-classes .content .category .content .class .content .class-info
{
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: 0.85em;
}

#catalog-class-list .content .category .content .class .content .class-info a, #class-page .content .class .content .class-info a, #user-schedule .content .category .content .class .content .class-info a
{
    color: black;
}


#class-page .content .class .content .showhide, #user-schedule .content .category .content .class .content .showhide
{
    margin: 0;
    font-size: 0.9em;
    font-weight: normal;
    float:left;
    padding-right: 8px;
}

#catalog-class-list .content .category .content .class .content .showhide, #my-classes .content .category .content .class .content .showhide
{

    font-size: 0.9em;
    font-weight: normal;
    float:left;
    padding-right: 8px;
}

#catalog-class-list .content .category .content .class .content .showhide a, #class-page .content .class .content .showhide a, #user-schedule .content .category .content .class .content .showhide a
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.signup-button
{
/*
    padding: 0 3px;
    margin: 0.25em 5px 0 0;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 0.75em;
    min-width: 1px;
    background-color: #CEE3F8;
    border: 1px solid #5f98cf;
*/
    float: left;
/*
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
*/
}

.signup-button a
{
    color: #000000;
}


.signup-button a:link, .signup-button a:visited, .signup-button a:hover, .signup-button a:active
{
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.teacher-button
{
    cursor: pointer;
    padding: 0 3px;
    margin: 0.25em 5px 0 0;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 0.75em;
    min-width: 1px;
    background-color: #99ff66;
    border: 1px solid #5fa43c;
    float: left;
}

.teacher-button a:link, .teacher-button a:visited, .teacher-button a:hover, .teacher-button a:active
{
    color: #000000;
    text-decoration: none;
}

.deregister-button
{
    cursor: pointer;
    padding: 0 3px;
    margin: 0.25em 5px 0 0;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 0.75em;
    min-width: 1px;
    background-color: #ff9c9c;
    border: 1px solid #cc3333;
    float: left;
}

.deregister-button a
{
    color: #000000;
}

.deregister-button a:link, .deregister-button a:visited, .deregister-button a:hover, .deregister-button a:active
{
    color: #000000;
    text-decoration: none;
}

#separate-main-footer
{
    clear: both;
}

footer
{
    clear: both;
    padding: 1em 0;
    background-color: #dedede;
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    color: #464646;
    border-top: 1px solid #232323;
    position: relative;
}

#donate
{
    position: absolute;
    right: 1em;
    top: 1em;
}

a:link, a:visited, a:hover, a:active
{
    color: #464646;
    text-decoration: underline;
}


@media only screen and (max-width: 480px)
{

    .button
    {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
    }

    #main
    {
	width: 100%;
	min-width: 0;
    }

    img#logo
    {
	width: 160px;
	height: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
    }

    #socialbar
    {
	height: 0;
	max-height: 0;
	display: none;
    }

    #catalog-category-list
    {
	float: none;
	clear: both;
	width: 100%;
	border-bottom: 3px solid #242424;
    }

    #catalog-class-list
    {
	float: none;
	clear: both;
	width: 100%;
    }

    #catalog-class-list .content
    {
	border-left: 0;
    }

    .category, .teach, #footer
    {
	width: 100%;
    }

    .voting
    {
	width: 0;
	height: 0;
	display: none;
    }

    #catalog-class-list .content .category .content .class .content .class-name, #class-page .content .class .content .class-name, #class-page-roster .content .class-name, #my-classes .content .category .content .class .content .class-name, #user-schedule .content .category .content .class .content .class-name {
	margin-right: 0;
    }

    #class-page, #class-page-roster, #whyregister, #register, #login, #user-schedule, #user, #my-classes, #my-statistics, #teach, #teach-side, #settings
    {
	border-left: 0;
	width: 100%;
	float: none;
	clear: both;
    }

    #class-page, #register, #login, #user-schedule, #my-classes, #teach
    {
	width: 100%;
	border-bottom: 3px solid #242424;
    }

    #class-page-roster .content, #whyregister .content, #user .content, #my-statistics .content, #teach-side .content
    {
	border-left: 0;
    }

    #teach .content textarea, #teach .content input, #teach .content select
    {
	width: 100%;
    }
}

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
