* {
    margin: 0;
    padding: 0;
}

p
{
    padding: 3px;
}

img#logo
{
    width: 237px;
    height: 75px;
}

img.live
{
    width: 30px;
    height: 10px;
}

img#message
{
    width: 15px;
    height: 10px;
}

body {
    font-family: verdana;
}

ul,ol
{
    margin-left: 30px;
}

.catalog-filter
{
    font-weight: normal;
    font-size: 0.5em;
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 10px;
}

div.class-desc a {
    color: black;
}

div#header {
    background-color: #CEE3F8;
    font-size: 12px;
    width: 100%;
    padding: 3px 0;
    margin: 0;
    border-bottom: 1px solid #5f98cf;
    height: 80px;
}

div#header img
{
    margin: 0 3px;
}

div#links {
    float: right;
    margin: 0 3px;
    padding: 65px 10px 0 0;
}

#main {
    width: 960px;
    font-family: verdana;
    font-size: 12px;
    margin: 10px;
}

#main a
{
    color: black;
}

.pagetitle
{
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 10px;
}

.pagetitle a:link,a:visited,a:hover,a:active
{
    color: black;
}

.pagetitle a:hover
{
    text-decoration: none;
}

.category {
    width: 800px;
    margin: 0 0 20px 0;
    padding: 0 10px;
    border-left: 0px solid #c3c3c3;
    /*background-color: #fdfdfd;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
}

.category-name {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 0px solid #d3d3d3;
}

.class
{
    margin: 0px 0 20px 15px;
    border: 1px solid #c3c3c3;
    background-color: #f5f5f5;
    padding: 10px 10px 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.class-white
{
    margin: 0px 0 20px 15px;
    /*border: 1px solid #c3c3c3;
    background-color: #f5f5f5;*/
    padding: 5px 10px 10px 10px;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
}

.class-name 
{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.class-desc
{
    margin-left: 15px;
    margin-bottom: 3px;
}

.class-info
{
    font-size: 0.9em;
    font-style: italic;
    margin-left: 30px;
    padding-bottom: 5px;
}

.class-info-noindent
{
    font-size: 0.9em;
    font-style: italic;
    margin-left: 0px;
}

img
{
    border: 0;
}

input.teach
{
    width: 600px;
}

textarea.teach
{
    width: 600px;
    height: 170px;
    font-family: verdana;
    font-size: 15px;
}

.signup-button
{
    padding: 0 3px;
    margin: 0.25em 5px 0 0;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 0.75em;
    min-width: 1px;
    background-color: #CEE3F8;
    border: 1px solid #5f98cf;
    float: left;
}

.teacher-button
{
    padding: 0 3px;
    margin: 0.25em 5px 0 0;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 0.75em;
    min-width: 1px;
    background-color: #99ff66;
    border: 1px solid #5fa43c;
    float: left;
}

.deregister-button
{
    padding: 0 3px;
    margin: 0.25em 5px 0 0;
    line-height: 1.5em;
    height: 1.5em;
    font-size: 0.75em;
    min-width: 1px;
    background-color: #ff6666;
    border: 1px solid #cc3333;
    float: left;
}

.showhide
{
    font-size: 10px;
    font-weight: normal;
    color: #555555;
}

a:link.link-showhide, a:visited.link-showhide, a:active.link-showhide, a:hover.link-showhide
{
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
}

a:link.nav, a:visited.nav, a:active.nav, a:hover.nav
{
    font-size: 12px;
    color: black;
    text-decoration: none;   
}

a:link.link-signup-button, a:visited.link-signup-button, a:active.link-signup-button, a:hover.link-signup-button
{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a:link.nav-current, a:visited.nav-current, a:active.nav-current, a:hover.nav-current
{
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:link.link-class-desc, a:visited.link-class-desc, a:active.link-class-desc, a:hover.link-class-desc
{
    color: black;
}

#footer
{
    width: 800px;
    font-size: 10px;
    color: #939393;
    padding: 5px;
    margin-bottom: 10px;
}

#footer a
{
    color: #636363;
}